html, body, h1{margin: 0;}


#contents{
    width: 100%;
    z-index: 0;
}

section {
    position: relative;
    z-index: 4;
    width: 100%;
    height: 70vh;
}

section aside {
    background-color: rgba(0,0,0,0.8);
    width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    position: fixed;
    padding-top: 100px;
    z-index: 4;
}

section aside ul {
    margin: 0;
    padding: 0;
    top: 50px;
    left: 114px;
    display: block;
    transform: translateX(20vw);
    
}

    
section aside li {
    margin: 0 0 30px;
    list-style: none;
    display: block;
    
}

section aside button {
    background-color: rgba(0,0,0,0.8);
    display: block;
    position: absolute;
    top: 150px;
    left: 300px;
    width: 52px;
    height: 132px;
    margin: 0;
    padding: 0;
    border: none;
}
.submenu li{
     transform: translateX(-50px);
}

#login{
    padding-left: 60px;
}

