
#s_title h1{ 
    font-size: 2.5em; 
    margin:10px 0;
}

#nav1 a{
    font-size: 13px;
    padding: 10px;    
    transform: translateY(60%);    
    font-variant-position: super;
}


#s_content{
    font-size:1.15em;    
}

article{
    padding: 0 15px;
}
                        
.content p{
    width: 100%;
    height: auto;
    font-size: 13px;
    padding-top: 20px;
    text-align: left;
}

.c_photo{
    width: 80%;
    float: left;
    display: inline-block;
    padding-left: 3%;
}

