
div{text-align: center;}
/* COMMONS CSS*/
ul,ol,li{margin:0;padding:0;}
/* *{margin:0; padding:0;} 위에꺼와 동일 */
html{overflow-y:scroll;}

li{list-style:none;}
address,em{font-style:normal;}
a{ text-decoration:none;}

a:hover{color:#000000; text-decoration:underline;}
.blind{display:block; overflow:hidden; position:absolute; top:-9999em; left:0;}

#
/*
body,h1,h2,h3,h4,h5,h6,input,textarea,select,option,th,td 글자 크기 안 먹는 거 다 넣어주기
테이블 글자 크기는 ie 5.5이하는 안먹어요 꼭 넣어주세요~
verflow:hidden; -> (멀리줄때 포커스가 따라가지 않도록 하기 위해서 사용)
*/

/* board - page */
body{text-align:center;}

#header{position:relative; width:100%; height:113px; background:silver;}
#content h2{
    font-size: 2em;
    font-weight: bold;
    color: grey;
}
.container{
    position: relative;
    transform: translateY(15vh);
}
.container:after{content:''; display:block; clear:both;}

#content .bbs{
    text-align:center;
}
/* BOARD CSS*/

.bbs a:hover,a:focus{text-decoration:none;color: blue;text-decoration:underline;}

/* BOARD CELL WIDTH */
.bbs .cel01{width:10vw;}
.bbs .cel02{width:25vw;}
.bbs .cel04{width:10vw;}
.bbs .cel05{width:5vw;}


/* BOARD DETAIL */

.bbs .thead ul:after{content:' '; display: block; clear:both;}
.bbs .thead li{float:left; line-height:4vh; color:#363636; font-size:0.9em; font-weight:bold; text-align:center; background:repeat-x 0 100%; border-top:#CC6699 solid 2px;}



.bbs .tbody ul:after{content:' '; display: block; clear:both;}
.bbs .tbody li{float:left; line-height:40px; text-align:center; border-bottom:1px groove #000000 ;}

.bbs .tbody li.cel02{/*padding-left:5px;*/ text-align:left;}
.bbs .tbody li.cel02 a{margin-left:5px;} /*표에 붙는 글씨간격 띄우기*/

/* 아이콘 이미지 정렬 */
.iconNotice, .iconFile{display:block; height:40px;}
.iconNotice img, .iconFile img{margin-top:10px;}


/* 페이징 */
.bbs .tfoot dd{text-align:center; line-height:100px;}
.paging{font-size:1.1em;}
.paging a{padding:1px 4px;}
.paging a.active{color:#d54e4e; font-weight:bold;}
.paging a.bbsBtn{vertical-align:-3px;}

