html,body{ margin: 0; }

/* section1<여행지 목록> - css*/

section{ width: 100%; clear: both; }

.s_title{
    height: auto;
}

.s_title h1{ 
    font-size: 3em; 
    text-align: center;
    color: grey;
    margin:20px 0;
}

#nav1{
    width: 100%;
    height: 50px;
    clear: both;
}

#nav1 a{
    float: inherit;
    display: inline-block;   
    padding: 5px 10px;
    transform: translateY(80%);
    cursor: pointer;
}

/*clone
.s_title-clone{
    background-color: aliceblue;
    opacity: 0.9;
    position: fixed;
    
    top: -35px;
    width: 100%;
    z-index: 30;
    
    
}
.s_title-clone.visible{
    top:0;
}

*/
/* section2<여행지 리스트> - css*/
#s_content{
    font-size:1.3em;    
}

article{
    width:95%;
    clear: both;
    float: left;
    padding: 0 30px;
}
                        
.content p{
    width: 50%;
    height: 300px;
    display: inline-block;
    font-size: 14px;
    padding: 20px 0;    
    float: left;
}
 
.c_photo{
    float: right;
    display: inline-block;
    padding-left: 40px;
}


.c_photo img{   
    width: 450px;
    height: 330px;
}
